.nextButton {
  border-radius: 100px;
  padding: 8px 40px;
  outline: none;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 29px;
  border: none;
  float: right;
}
.formContainer {
}
.actionsContainer {
  .accountDeletionContainer {
    margin-bottom: 40px;
    .deleteTitle {
      font-size: 18px;
      font-weight: 500;
    }
    .deleteAccountTextAndButton {
      display: flex;
      justify-content: space-between;
    }
  }
}

.inputendornment {
  cursor: pointer;
}
