.formContainer {
}
.actionsContainer {
  .accountDeactivationContainer {
    margin-bottom: 20px;
    .deleteTitle {
      font-size: 18px;
      font-weight: 500;
    }
    .deleteAccountTextAndButton {
      display: flex;
      justify-content: space-between;
    }
  }
  .accountDeletionContainer {
    margin-bottom: 300px;
    .deleteTitle {
      font-size: 18px;
      font-weight: 500;
    }
    .deleteAccountTextAndButton {
      display: flex;
      justify-content: space-between;
    }
  }
  .saveContainer {
    margin-bottom: 30px;
    text-align: right;
    .nextButton {
      border-radius: 100px;
      padding: 8px 40px;
      outline: none;
      font-family: Poppins;
      font-size: 19px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 29px;
      border: none;
    }
  }
}

.inputendornment {
  cursor: pointer;
}

.DeactivateButton {
	text-transform: initial !important;
	color: #DB7474 !important;
  font-family: Poppins !important;
  font-size: 19px !important;
  font-weight: 500 !important; 
  letter-spacing: 0 !important;
	line-height: 29px !important;
	background-color: white !important;
}

.brandContainter {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1.5em;
  .brandImage {
    height: 92px;
		width: 90px;
		display: flex;
  }
  span{
		color: #3481EF;
		font-family: Poppins;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 25px;
  }
}
