@import './../../../variable.module.scss';
.campaignCard {
  border-radius: 10px !important;
  height: 100%;
  // min-width: 395px;
  // width: 395px;
  box-shadow: 0px 6px 50px #0000001A !important;
  &:hover {
    // box-shadow: 0 5px 15px 2px rgba(8, 8, 8, 0.1);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
}
.cardContent {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  height: 100%;
  .cardStatus {
    min-height: 25px;
    max-height: 25px;
    font-size: 13px !important;
    .alertBadge {
      background-color: $danger;
      padding: 4px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      align-items: center;
      color: $white;
      gap: 3px;
      max-width: 140px;
      .alertIcon {
        font-size: 16px;
      }
    }
  }

  .cardDetails {
    padding: 0px 10px 0px 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex: auto;
    .campaignInfo {
      flex: auto;
      display: flex;
      flex-direction: column;
      .campaignName {
        font-size: 19px;
      }
      .campaignNumber {
        color: $dark2;
        font-weight: 300;
        font-size: 13px;
			}
			.wrapChip{
				display: flex;
				color: #3481EF;
			
				.statusDraft {
					width: fit-content;
					height: 28px;
					margin-top: 20px;
					background-color: #3481EF;
					color: #FFFFFF;
					font-family: Poppins;
					font-size: 13px;
					letter-spacing: 0;
					line-height: 20px;
					// text-transform: lowercase;
				}
				.statusPending{
					width: fit-content;
					height: 28px;
					margin-top: 20px;
					background-color: #5D6FD3;
					color: #FFFFFF;
					font-family: Poppins;
					font-size: 13px;
					letter-spacing: 0;
					line-height: 20px;
					// text-transform: lowercase;
				}
				.statusLive{
					width: fit-content;
					height: 28px;
					margin-top: 20px;
					background-color: #7B5CD9;
					color: #FFFFFF;
					font-family: Poppins;
					font-size: 13px;
					letter-spacing: 0;
					line-height: 20px;
					// text-transform: lowercase;
        }
        

				
				.personAvatar {
					margin-top: 17px;
					margin-left: 33px;
					height: 30px;
					width: 30px;
				}
			  .mediaTag {
					margin-top: 21px;
					margin-left: 5px;
					color: #000000;
					font-family: Poppins;
					font-size: 13px;
					letter-spacing: 0;
					line-height: 20px;
				}
			}
    }
    .iconInfo {
      margin-right: 20px;
    }
    .personInfo {
      text-align: center;
      min-width: 100px;
      max-width: 150px;
      margin-top: 15px;
    
    }
  }
}

.popOver {
  width: 284px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  padding: 35px 28px;

  div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 40px;
    p {
      color: $dark1;
      font-family: Poppins;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
    }
  }
  :last-child {
    margin-bottom: 0px;
  }
}

.chipLive {
  background-color: $campaignLive !important;
  color: $white !important;
}
.chipDraft {
  background-color: $campaignDraft !important;
  color: $white !important;
}
.chipPending {
  background-color: $campaignPending !important;
  color: $white !important;
}
.chipClosed {
  background-color: $campaignClosed !important;
  color: $white !important;
}
.chipLost {
  background-color: $campaignLost !important;
  color: $white !important;
}
