.collections {
    padding: 31px 50px !important;
}


.collectionContainer {
    margin-top: 28px;
}

.dropDownCustomizeSvg{
	svg{
		margin-left: -36px;
		margin-right: 20px;
	}
}

.menuItem {
 display: flex !important;
 flex-direction: row !important;
 justify-content: space-between !important;
div {
    height: 31px;
    width: 31px;
    border-radius: 100px;
    span {

  color: #FFFFFF;
  font-family: Poppins;
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 12px;
    }
    background-color: #7B5CD9;
    
 }
}

.product{
	padding-bottom: 20px !important;
& > label{
	line-height: 18px !important;
}
}

.accordianSummary {
	box-sizing: border-box !important;
  height: 66px;
  width: 766px;
  border: 1px solid #939393 !important;
  border-radius: 5px !important;
  background-color: #FFFFFF !important;
}
.collectionName{
	width: 100%;
}

.svg {
	float:right;
	margin-top: 3px;
}
