@import '../../variable.module.scss';

.Heading {
	padding: 40px 27px 5px 34px;
	width: 100%;

	p {
		color: #000000;
		font-family: Poppins;
		font-size: 23px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 34px;

	}
}

.notificationDay {
	p {
		margin-left: 25px;
		margin-bottom: 12px;
		color: #000000;
		font-family: Poppins;
		font-size: 12px;
		letter-spacing: 0;
		line-height: 18px;
	}
}

.NotificationContainer {
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
	width: 324px;
	margin-left: 25px;

	.NotifcationInfoContainer {
		align-items: center;
		justify-content: space-between;

		h1 {
			color: $dark1;
			font-family: Poppins;
			font-size: 23px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 34px;
		}
	}

	.personAvatar {
		width: 59px;
		height: 59px;
	}

	.BrandName {
		margin-top: 1px;
		margin-left: 10px;
		width: 100%;
		color: #000000;
		font-family: Poppins;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 21px;
	}

	.BrandDescription {
		margin-top: 5px;
		width: 100%;
		color: #000000;
		font-family: Poppins;
		font-size: 11px;
		letter-spacing: 0;
		line-height: 17px;
	}
}

.loadMore {
	width: 100%;
	margin-left: 150px;
	margin-top: 5px;
	button {
		padding: 18px 20px;
		height: 31px;
		width: 119px;
		font-family: Poppins;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 23px;
		color: #ffffff;
		background: #000000;
		border: none;
		border-radius: 100px;
		display: flex;
		align-items: center;
		cursor: pointer;

	}
}