.CampaignHeeding {
    display: flex;
    flex-direction: row;
    gap:24px;
    align-items: center;
    margin-bottom: 32px;
    
    p{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

}

.CampaignHeedingButton {
    display: flex;
    flex-direction: row;
    gap:40px;
    align-items: center;
    margin-bottom: 32px;
    button {
        background: transparent;
        border: none !important;
        font-size: 17px;
        padding: 8px 16px;
    }  
    button:active,:focus {
        outline: none
    }
}

.allActive {
    background-color: black !important;
    border: none !important;
        color: white;
        padding: 8px 16px;
        border-radius: 100px;
        font-size: 17px;
        outline: none;
}

.draftActive {
    background-color: #6BA8DB !important;
    border: none !important;
        color: white;
        padding: 8px 16px;
        border-radius: 100px;
        font-size: 17px;
        outline: none;
}

.liveActive {
    background-color:  #3481EF !important;
    border: none !important;
        color: white;
        padding: 8px 16px;
        border-radius: 100px;
        font-size: 17px;
        outline: none;
}
.pendingActive {
    background-color: #204D8D !important;
    border: none !important;
        color: white;
        padding: 8px 16px;
        border-radius: 100px;
        font-size: 17px;
        outline: none;
}

.closedActive {
    background-color: #0952D1 !important;
    border: none !important;
        color: white;
        padding: 8px 16px;
        border-radius: 100px;
        font-size: 17px;
        outline: none;
}

.lastActive {
    background-color: #001E52 !important;
    border: none !important;
        color: white;
        padding: 8px 16px;
        border-radius: 100px;
        font-size: 17px;
        outline: none;
}