.campaignsContainer {
  max-width: 1200px;
  margin: auto;
}
.CampaignHeading {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  margin-bottom: 20px;
  h1 {
    font: normal normal medium 33px/50px Poppins;
  }

  p {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.CampaignHeadingButton {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  margin-bottom: 20px;
  button {
    background: transparent;
    border: none !important;
    font-size: 12px;
    padding: 8px 16px;
    font-family: 'Poppins Light', sans-serif;
  }
  button:active,
  :focus {
    outline: none;
  }
}

.allActive {
  background-color: black !important;
  border: none !important;
  color: white;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 12px;
  outline: none;
  font-family: 'Poppins Light', sans-serif;
}

.draftActive {
  background-color: #6ba8db !important;
  border: none !important;
  color: white;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 12px;
  outline: none;
  font-family: 'Poppins Light', sans-serif;
}

.liveActive {
  background-color: #3481ef !important;
  border: none !important;
  color: white;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 12px;
  outline: none;
  font-family: 'Poppins Light', sans-serif;
}
.pendingActive {
  background-color: #204d8d !important;
  border: none !important;
  color: white;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 12px;
  outline: none;
  font-family: 'Poppins Light', sans-serif;
}

.closedActive {
  background-color: #0952d1 !important;
  border: none !important;
  color: white;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 12px;
  outline: none;
  font-family: 'Poppins Light', sans-serif;
}

.lastActive {
  background-color: #001e52 !important;
  border: none !important;
  color: white;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 12px;
  outline: none;
  font-family: 'Poppins Light', sans-serif;
}

.gridItem {
  min-width: 395px;
  max-width: 395px;
  min-height: 160px;
  max-height: 160px;
  height: 160px;
}

.CampaignHeadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
   button {
font-size: 15px;
// font-family: 'Poppins Medium';
color: #FFFFFF;
background: #000000;
border: none; 
border-radius: 100px;
padding: 10px 16px;
  display: flex;
  align-items: center;

  }
  button:focus {
    font-size: 15px;
    display: flex;
  align-items: center;
    // font-family: 'Poppins Medium';
    color: #FFFFFF;
    background: #000000;
    border: none; 
    border-radius: 100px;
    padding: 10px 16px;
    outline: none;
      }
}
