
.postContainer {
    max-height: 316px;
  max-width: 813px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 rgba(0,0,0,0.1);
    padding: 32px 41px 20px 35px;

    h1{
        color: #000000;
        font-family: Poppins;
        font-size: 23px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 34px;
    }
    .mainDiv{
       display: flex;
       flex-direction: row;
       gap: 35px;
       margin-top: 20px;
       margin-bottom: 14px;;

       .elemtdiv {
        height: 167px;
        width: 97px;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        img {
            width: 100%;
            height: 100%;

            }
       }
    }
    button {
        outline: none;
        border:none;
        height: 31px;
        width: 82px;
        border-radius: 100px;
        background-color: #000000;
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 23px;
        text-align: center;
        :focus {
            outline: none;
        }
    }
}