@import '../../../../variable.module.scss';
.optionsItem {
    svg {
      color: $primary1;
      cursor: pointer;
    }
    .displayNone {
      display: none;
    }
    .cursorPointer {
      cursor: pointer;
    }
    .svgDisabled {
      color: #717171;
      cursor: pointer;
    }
  }
   
  .disabled {
    color: #717171;
  }
 

  .headingColor {
    color: $dark1;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
  }

  .heading {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.24px;
    line-height: 25px;
    margin-top: 16px;
  }

 
 