
@import '../../variable.module.scss';

.campaignsContainer {
    max-width: 1250px;
    margin: auto;
  }

  .CampaignHeading {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 1em;
    span {
      font-family: "Poppins", sans-serif;
      font-size: 33px;
      font-weight: 500;
    }
  }

  .subCampaignSubHeading {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;
      margin:24px 0px;
      p {
        font: normal normal medium 20px/30px Poppins;
        letter-spacing: 0px;
        color: #000000;
      }
      .borderDiv {
          border-left : 1px solid lightgray;
          height: 50px;
      }
      .campaignStatus {
        width: fit-content;
        font: normal normal normal 13px/20px Poppins;
        height: 28px;
      }

  }

  

  .compensationCard {
    border-radius: 10px !important;
    height: 100%;
    box-shadow: 0px 6px 50px #0000001A !important;
    background: #5D6FD3 0% 0% no-repeat padding-box !important;
    &:hover {
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
    }
  }

  .compensationCardContent {
      padding: 32px !important;
      h1 {
        font: normal normal bold 35px/53px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
      }
      p {
        font: normal normal normal 20px/30px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-top: 16px;
        margin-bottom: 24px;
      }
      button {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 100px;
        padding: 10px 16px;
        border: none;
        outline: none;
        font-size: 17px;
        line-height: 23px;
        // font: normal normal medium 17px/26px Poppins;
        letter-spacing: 0px;
         color: #000000
      }

  }

  .gridItem {
    width: 813px;
    // height: 316px; 
    max-width: 813px;
    // max-height: 316px;
    padding: 0px !important;
    margin: 12px !important;
  }
    
  .chipLive {
    background-color: $campaignLive !important;
    color: $white !important;
  }
  .chipDraft {
    background-color: $campaignDraft !important;
    color: $white !important;
  }
  .chipPending {
    background-color: $campaignPending !important;
    color: $white !important;
  }
  .chipClosed {
    background-color: $campaignClosed !important;
    color: $white !important;
  }
  .chipLost {
    background-color: $campaignLost !important;
    color: $white !important;
  }
  