@import '../../variable.module.scss';

.detailContainer {
  max-width: 1235px;
  min-width: 1235px;
  margin: auto;
}

.CampaignHeading {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 1em;
  span {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    font-weight: 500;
    cursor: pointer;
  }
}

.subCampaignSubHeading {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin: 24px 0px;
  p {
    font: normal normal medium 20px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }
  .borderDiv {
    border-left: 1px solid lightgray;
    height: 50px;
  }
  .campaignStatus {
    width: fit-content;
    font: normal normal normal 13px/20px Poppins;
    height: 28px;
  }
}

.compensationCard {
  border-radius: 10px !important;
  height: 100%;
  box-shadow: 0px 6px 50px #0000001a !important;
  background: #5d6fd3 0% 0% no-repeat padding-box !important;
  &:hover {
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
}

.compensationCardContent {
  padding: 32px !important;
  h1 {
    font: normal normal bold 35px/53px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
  }
  p {
    font: normal normal normal 20px/30px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  button {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 10px 16px;
    border: none;
    outline: none;
    font-size: 17px;
    line-height: 23px;
    // font: normal normal medium 17px/26px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }
}

.activityCard {
  border-radius: 10px !important;
  height: 100%;
  box-shadow: 0px 6px 50px #0000001a !important;
  &:hover {
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
}

.activityCardContent {
  padding: 24px !important;
  h1 {
    font: normal normal bold 23px/34px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }
  p {
    font: normal normal normal 20px/30px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  button {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 10px 16px;
    border: none;
    outline: none;
    font-size: 17px;
    line-height: 23px;
    // font: normal normal medium 17px/26px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }
}

.activitySubContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin: 24px 0px;
  span {
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 21px;
    font-family: Poppins;
    color: #000000;
  }
  div {
    width: 10px;
    height: 10px;
    background: #5d6fd3 0% 0% no-repeat padding-box;
    border-radius: 10px !important;
  }
  p {
    font-size: 16px;
    line-height: 22px;
    font-family: sans-serif;
    letter-spacing: 0px;
    color: #000000;
    margin: 0px !important;
  }
}

.teamMembersContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  p {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    color: #000000;
    margin: 0px !important;
  }
}

.detailSubContent {
  margin-top: 24px;
  h6 {
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #000000;
    margin: 0px;
    padding: 0px;
  }
  p {
    margin: 0px;
    padding: 0px;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }
}

.dateContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row;
}

.collectionSubContent {
  margin-top: 24px;
  p {
    color: #000000;
    margin: 0px !important;
  }
  h6 {
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #000000;
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
  }
}

.boxContainer {
  .box {
    width: 140px;
    height: 145px;
    background: #e8e8e8 0% 0% no-repeat padding-box;
    border-radius: 20px;
    margin-bottom: 8px;
  }
  .boxItem {
    font: normal normal normal 14px/21px Poppins;
  }
  .boxPrice {
    font: normal normal normal 11px/17px Poppins;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chipLive {
  background-color: $campaignLive !important;
  color: $white !important;
}
.chipDraft {
  background-color: $campaignDraft !important;
  color: $white !important;
}
.chipPending {
  background-color: $campaignPending !important;
  color: $white !important;
}
.chipClosed {
  background-color: $campaignClosed !important;
  color: $white !important;
}
.chipLost {
  background-color: $campaignLost !important;
  color: $white !important;
}
