.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}
.contentContainer {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.flexGrow5 {
  flex-grow: 5;
}
.contentContainerSectionHeader {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
}

.contentContainerSectionHeaderOrg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;

}

.contentContainerSectionHeaderOrg button { 
 margin-right: 24px;
}
.contentContainerSectionHeader h3 {
  margin: 0;
}
.details {
  padding-top: 10px;
}
.accountProfile {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.profileImage {
  height: 150px;
  width: 150px;
  border: 2px solid #8fab20;
  border-radius: 50%;
}

.timeZoneHelper {
  font-size: 12px;
  margin-left: 30px;
  padding: 12px 0px 36px 0px;
}

.emailSection {
  padding: 20px 0px;
}
.emailContainer {
  display: flex;
  align-items: center;
}
.emailInput {
  margin-right: 20px !important;
  width: 350px;
}

.emailVerificationContainer {
  padding-top: 36px;
}
