@import './../../variable.module.scss';
.mainContainer {
  height: 100%;
  max-width: 1232px;
  margin: auto;
  display: flex;
  .conversationsSection {
    flex: auto;
  }
  .messageFiltersContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-bottom: 40px;
    button {
      background: transparent;
      border: none !important;
      font-size: 17px;
      line-height: 26px;
      padding: 5px 16px;
      font-family: 'Poppins Regular', sans-serif;
      cursor: pointer;
    }
    button:active,
    :focus {
      outline: none;
    }
  }
  .headingAndButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    button {
      font-size: 15px;
      color: #ffffff;
      background: #000000;
      border: none;
      border-radius: 100px;
      padding: 10px 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    button:focus {
      font-size: 15px;
      display: flex;
      align-items: center;
      color: #ffffff;
      background: #000000;
      border: none;
      border-radius: 100px;
      padding: 10px 16px;
      outline: none;
    }
  }
  .headingAndDropdown {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 1em;
    span {
      font-family: 'Poppins', sans-serif;
      font-size: 33px;
      font-weight: 500;
    }

    p {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  .active {
    background-color: $dark1 !important;
    border: none !important;
    color: $white;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 12px;
    outline: none;
    font-family: 'Poppins Light', sans-serif;
  }

  .conversationsContainer {
    box-shadow: 0px 6px 50px #0000001a !important;
    border-radius: 10px;
    overflow: hidden;
  }
}
