@import '../../../variable.module.scss';

.detailContainer {
  max-width: 1235px;
  min-width: 1235px;
  margin: auto;
}

.secondContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first {
  display: flex;
  flex-direction: row;
  gap:30px;
}

.second {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.CampaignHeading {
  display: flex;
  flex-direction: row;
  gap: 21.5px;
  align-items: center;
  margin-bottom: 51px;
  margin-top: 43px;
  span {
    color:$dark1;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 50px;
    cursor: pointer;
  }
}

.subHeadingSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 45.5px;
}

.subCampaignSubHeading {
  display: flex;
  flex-direction: row;
  gap: 21.5px;
  align-items: center;
  p {
    font: normal normal medium 20px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }
  .borderDiv {
    border-left: 1px solid lightgray;
    height: 50px;
  }
  .campaignStatus {
    background-color: $campaignClosed !important;
    color: $white !important;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
      height: 34px;
  width: 96px;
  border-radius: 100px;
  }
  .avatarContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:11px;
      .avatar {
        height: 46px;
        width: 46px;
      }
      span {
        color: $dark1;
        font-family: Poppins;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 25px;
      }
  }
}

.firstConatiner  {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.compensationCard {
  border-radius: 10px !important;
  height: 100%;
  box-shadow: 0px 6px 50px #0000001a !important;
  background: #5d6fd3 0% 0% no-repeat padding-box !important;
  &:hover {
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
}

.compensationCardContent {
  padding: 32px !important;
  h1 {
    font: normal normal bold 35px/53px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
  }
  p {
    font: normal normal normal 20px/30px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  button {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 10px 16px;
    border: none;
    outline: none;
    font-size: 17px;
    line-height: 23px;
    // font: normal normal medium 17px/26px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }
}



.teamMembersContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  p {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    color: #000000;
    margin: 0px !important;
  }
}

.detailSubContent {
  margin-top: 24px;
  h6 {
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #000000;
    margin: 0px;
    padding: 0px;
  }
  p {
    margin: 0px;
    padding: 0px;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }
}

.dateContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row;
}

.collectionSubContent {
  margin-top: 24px;
  p {
    color: #000000;
    margin: 0px !important;
  }
  h6 {
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #000000;
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
  }
}

.boxContainer {
  .box {
    width: 140px;
    height: 145px;
    background: #e8e8e8 0% 0% no-repeat padding-box;
    border-radius: 20px;
    margin-bottom: 8px;
  }
  .boxItem {
    font: normal normal normal 14px/21px Poppins;
  }
  .boxPrice {
    font: normal normal normal 11px/17px Poppins;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chipLive {
  background-color: $campaignLive !important;
  color: $white !important;
}
.chipDraft {
  background-color: $campaignDraft !important;
  color: $white !important;
}
.chipPending {
  background-color: $campaignPending !important;
  color: $white !important;
}

.chipLost {

  background-color: $campaignLost !important;
  color: $white !important;
}



.popOver {

  height: 166px;
  width: 284px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.16);
  padding: 35px 28px;
  
  div {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      cursor: pointer;
      p {
          color: $dark1;
          font-family: Poppins;
          font-size: 18px;
          letter-spacing: 0;
          line-height: 27px;
      }
  };

  .secondElement {
    margin-top: 30px;
  }

}
