@import '../../../variable.module.scss';
.ProfileContainer {
  width: 1500px;
	margin-left: 70px;
}
.ProfileHeading {
	display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 2em;
  span {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    font-weight: 500;
  }

  p {
    align-items: center;
    cursor: pointer;
	}
	.brandImage{
		display: flex;
		box-sizing: border-box;
		height: 118px;
		width: 119px;
		// border: 0.5px solid #CCCCCC;
	}

}
.brandName {
	color: #000000;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 30px;
	margin-bottom: 10px;
}
.ProfileHeadingContainer {
}
.divider{
	box-sizing: border-box;
  height: 1206px;
  width: 1px;
  border: 1px solid #CCCCCC;
}
.exploreInfluencers{
	border-left: 1px solid #CCCCCC;
	padding-left: 40px;
}





