@import '../../../../variable.module.scss';
.contentContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px auto;
  .shopifyLogo {
    height: 50px;
    width: 175px;
  }
  .inputField {
    flex: 0 0 360px;
  }
  .storeSync {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  .inputendornmentCheck {
    color: $primary1 !important;
  }
}
