@import '../../variable.module.scss';

.addCampaignDialog {
  max-width: 100% !important;
  width: 100% !important;
   height: 100% !important;
   max-height: 100% !important;
   margin: 0 !important;
  margin-top: 0 !important;
}

.mainContainer {
  display: flex;
  height: 100%;
  .campaignSideabr {
    flex: 0 0 535px;
    background-color: $primary1;
    color: $white;
    padding-left: 55px;
    .heading {
      margin: 50px 0;
    }
    .setpsContainer {
      .stepItem {
        margin: 20px 0px;
      }
    }
  }
  .campaignContainer {
    flex: 1;
    margin: 50px 20px;
    align-content: space-between;;
  }
}

.contentContainer {
  padding: 0px 270px !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .stepperNumberAndNameContainer {
    text-align: center;
    p {
      font-family: Poppins;
      font-size: 15px;
      font-weight: 400;
    }
  }
}
.stepperAndComponent {
  padding: 0px 220px 0px;
}

.actions {
  height: 100px;
  width: 100%;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -10px 20px 0px #0000001a !important;
  .finishLater {
    span {
      color: #000000;
      font-family: Poppins;
      font-size: 19px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 29px;
      text-align: center;
      cursor: pointer;
    }
  }
  .inActiveButton {
    background-color: #cccccc;
    color: #959595;
  }
  .nextButton {
    border-radius: 100px;
    padding: 8px 40px;
    outline: none;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 29px;
    border: none;
    float: right;
  }
  .activeButton {
    background: #000;
    color: #fff;
  }
}
