.addCampaignDialog {
  max-width: 1345px !important;
  width: 1345px !important;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.mainContainer {
  .contentContainer {
    padding: 60px 63px 0 63px;
    .stepperAndComponent {
      padding: 0px 227px 50px;
    }
  }
  .actions {
    height: 100px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -10px 20px 0px #0000001a !important;
  }
}
