@import '../../variable.module.scss';

.addCampaignDialog {
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  margin-top: 0 !important;
}
.dialogTitle {
  padding: 0px !important;
}
.dialogContent {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 100%;
}
.mainContainer {
  display: flex;
  height: 100%;
  .campaignSideabr {
    flex: 0 0 535px;
    overflow-y: hidden;
    background-color: $primary1;
    color: $white;
    padding-left: 55px;
    .heading {
      margin: 50px 0;
    }
    .setpsContainer {
      .stepItem {
        margin: 20px 0px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        .active {
          height: 31px;
          border-radius: 100px;
  width: 31px;
  border: none;
  background-color: #FFFFFF;
        }
        svg {
          height: 31px;
          width: 31px;
          // border: 2px solid #FFFFFF;
          // background-color: #FFFFFF;
        }
      }
    }
  }
  .campaignContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}

.contentContainer {
  padding: 0px 270px !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 28px 0px 28px;
}
.stepperAndComponent {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 766px;
  width: 100%;
  height: 100%;
  gap: 24px;
}

.stepperNumberAndNameContainer {
  text-align: center;
  p {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
  }
}

.actions {
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  .finishLater {
    span {
      color: #000000;
      font-family: Poppins;
      font-size: 19px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 29px;
      text-align: center;
      cursor: pointer;
    }
  }
  .inActiveButton {
    background-color: #cccccc;
    color: #959595;
  }
  .nextButton {
    border-radius: 100px;
    padding: 8px 40px;
    outline: none;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 29px;
    border: none;
    float: right;
  }
  .activeButton {
    background: #000;
    color: #fff;
  }
}
