.addCampaignDialog {
  max-width: 1345px !important;
  width: 1345px !important;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.mainContainer {
  padding-left: 290px;
  padding-right: 290px;
}
