@import './../../variable.module.scss';

.authContainer {
	display: flex;

	.logoAndComponent {
		width: 50%;
		margin-top: 0px;
		height: 1080px;

		.logoDiv {
			// margin: 40px 40px 0px 40px;
			width: 184px;
			padding: 40px 40px 0 40px;
			height: 81px;
			display: flex;
			align-items: center;
			justify-content: center; //margin-bottom: 100px;

		}

		.formDiv {
			margin: 73px 0px 246px 245px; //208px
		}
	}

	.sidebar {
		width: 50%;
		// background-color: $authSidebarBackground;
		display: flex;
		position: relative;
		min-height: 100vh; //min-height: -webkit-fill-available;

		img {
			width: 987px;
			height: 1080px;
			align-self: center;
			display: flex;
		}

		div {
			width: 987px;
			height: 1080px;
			align-self: center;
			display: flex;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(171, 71, 230, 0.5);
			cursor: pointer;
		}
	}
}