@import './../../variable.module.scss';
.authContainer {
  //height: 100%;
  display: flex;
  .logoAndComponent {
    padding: 40px;
    width: 50%;
    .logoDiv {
      width: 184px;
      height: 81px;
      display: flex;
      align-items: center;
      justify-content: center; //margin-bottom: 100px;
    }
    .formDiv {
      margin: 113px 0px 246px 245px; //208px
    }
  }
  .sidebar {
    width: 50%;
    background-color: $authSidebarBackground;
    display: flex;
    position: relative;
    min-height: 100vh; //min-height: -webkit-fill-available;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
