@import '../../../../variable.module.scss';
  .headingColor {
    color: $dark1;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
  }

  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .marginTop {
    margin-top: 16px !important;
  }


	.dropDownCustomizeSvg{
		svg{
			margin-left: -36px;
			margin-right: 20px;
		}
	}