@import './../../../variable.module.scss';
.mainContainer {
  display: flex;
  flex-flow: column;
  gap: 30px;
  padding-top: 30px;
  .campaignBasicInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .campaignStatus {
      display: flex;
      align-items: center;
      gap: 20px;

      .promotion {
        color: #000000;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 30px;
        margin: 0px;
        padding: 0px;
      }
      .micrositeContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        width: 358px;
        background-color: #3481ef;
        border-right: none !important;
        border-radius: 10px;
        padding: 0px 20px;
        color: $white;
        font-weight: 500;
        .linkIconAndName {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
      .customChip {
        padding: 0px 15px;
        height: 34px;
        color: $white;
      }
      .liveCampaign {
        background-color: $brandLive !important;
      }
      .draftCampaign {
        background-color: $brandDraft !important;
      }
      .pendingCampaign {
        background-color: $brandPending;
      }
      .closedCampaign {
        background-color: $brandClosed !important;
      }
      .lostCampaign {
        background-color: $brandLost !important;
      }

      .influencerSocial {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      > div:not(:last-child) {
        border-right: 1px solid #cccccc;
        padding-right: 20px;
      }
    }
  }
  .contentContainer {
    .flexContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .row {
      display: flex;
      justify-content: space-between;
      .col2Width {
        width: 812px;
        box-shadow: 0px 6px 50px #0000001a !important;
      }
      .col3Width {
        width: 391px;
        box-shadow: 0px 6px 50px #0000001a !important;
      }
    }
  }
}

.popOver {
  // height: 166px;
  width: 284px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  padding: 35px 28px;

  div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 40px;
    p {
      color: $dark1;
      font-family: Poppins;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
    }
  }
  :last-child {
    margin-bottom: 0px;
  }
}

.campaignDraftContainer {
  height: 316px;
  width: 813px;
  border-radius: 10px;
  background-color: #7b5dd9;
  color: $white;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 32px 41px 20px 35px;
  h1 {
    font-size: 35px;
    font-family: Poppins;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
  button {
    height: 44px;
    width: 192px;
    margin-top: 80px;
    border-radius: 100px;
    color: $dark1;
    background-color: $white;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    border: none;
  }
}
.campaignLostContainer {
  height: 316px;
  width: 813px;
  border-radius: 10px;
  background-color: #3481ef;
  color: $white;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 32px 41px 20px 35px;
  h1 {
    font-size: 35px;
    font-family: Poppins;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
  button {
    height: 44px;
    width: 232px;
    margin-top: 80px;
    border-radius: 100px;
    color: $dark1;
    background-color: $white;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    border: none;
  }
}

.CampaignHeading {
  display: flex;
  flex-direction: row;
  gap: 21.5px;
  align-items: center;
  margin-bottom: 51px;
  margin-top: 43px;
  span {
    color: $dark1;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 50px;
    cursor: pointer;
  }
}

.x {
  width: 100%;
  padding: 27px 27px 27px 27px;
  svg {
    float: right;
    height: 27px;
    width: 27px;
  }
}
