@import '../../variable.module.scss';
.settingContainer {
  max-width: 1250px;
  margin: auto;
}
.settingHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 1em;
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    font-weight: 500;
  }
}

.settingHeadingButton {
  display: flex;
  flex-direction: row;
  gap: 69px;
  align-items: center;
  margin-bottom: 40px;
  button {
    background: transparent;
    border: none !important;
    font-size: 17px;
    line-height: 26px;
    padding: 8px 16px;
    font-family: 'Poppins Regular', sans-serif;
    cursor: pointer;
  }
  button:active,
  :focus {
    outline: none;

  }
}

.active {
    border: none !important;
    background-color: $dark1 !important;
    color: $white;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 17px;
    outline: none;
    font-family: 'Poppins Light', sans-serif;
}