.popOverContainer {
	margin-top: 15px;
}

.brandDropDown{
	margin-right: 5px !important;
	display: flex;
}
.brandDropDownSVG {
	margin-left: 5px;
}
.brandContainter {
  display: flex;
  align-items: center;
  gap: 8px;
  .brandImage {
    height: 34px;
    width: 34px;
  }
  span{
		color: #000000;
		font-family: Poppins;
		font-size: 15px;
		letter-spacing: 0;
		line-height: 23px;
  }
}
