@import './../../variable.module.scss';
.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
  width: 100%;
  gap: 50px;
  .searchContainer {
    flex: 1;
    position: relative;
    .headerSearchIcon {
      position: absolute;
      top: calc(50% - 14px);
      left: 15px !important;
      font-size: 30px !important;
    }
    .searchInput {
      width: 100%;
      border-radius: 25px;
      height: 50px;
      padding: 10px 0px;
      border: 1px solid $dark2;
      padding-left: 45px;
    }
  }
  .notificationAndProfile {
    display: flex;
    gap: 50px;
    align-items: center;
  }
}
