@import '../../../../variable.module.scss';
.influencerInfoContainer {
  &.withChildHeight {
    height: 255px;
  }
  &.withNoChildHeight {
		height: 255px;
		
	}
	height: 255px;
  width: 482px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 50px 0 rgba(0,0,0,0.1);
	padding: 32px 41px 20px 35px;
	margin-left: 47px;
  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: $dark1;
      font-family: Poppins;
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 34px;
    }
  }

  .detailSubContent {
		margin-top: 24px;
		width: 90%;
    h6 {
      letter-spacing: 0px;
      font-size: 18px;
      line-height: 27px;
      font-weight: 500;
      color: $dark1;
      margin: 0px;
      padding: 0px;
    }
    p {
      margin: 0px;
      padding: 0px;
      font: normal normal normal 14px/21px Poppins;
      letter-spacing: 0px;
      color: $dark1;
    }
  }

  .dateContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
  }
}
.Lifestyle{
	background-color: #4EA9DA !important;
	margin: 5px 0px 0px 5px ;
	color: #FFFFFF !important;
}
.Beauty{
	background-color: #5D6FD3 !important;
	margin: 5px 0px 0px 5px ;
	color: #FFFFFF !important;
}
.Editing{
	background-color: #7B5CD9 !important;
	margin: 5px 0px 0px 5px ;
	color: #FFFFFF !important;
}
.Fitness{
	background-color: #3481EF !important;
	margin: 5px 0px 0px 5px ;
	color: #FFFFFF !important;
}
.Living{
	background-color: #B485C5 !important;
	margin: 5px 0px 0px 5px ;
	color: #FFFFFF !important;
}