.input {
    ::placeholder {
        color: red !important;
        opacity: 1; /* Firefox */
      }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: pink !important;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: pink !important;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: pink !important;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: pink !important;
      }
}