@import '../../variable.module.scss';
.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 496px;
	//margin: auto;
	margin-top: 35%;
	.heading{
		height: 47px;
		width: 380px;
		color: #000000;
		font-family: Poppins;
		font-size: 33px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 50px
	}
	.des{
		color: #000000;
		font-family: Poppins;
		font-size: 18px;
		letter-spacing: 0;
		line-height: 31px;
	}

  .actionsContainer {
    display: flex;
    align-items: center;
    gap: 25px;
    button {
      border-radius: 25px;
      font-size: 19px;
      font-weight: 400;
			text-transform: capitalize;

			.buttonText {
				
				color: #FFFFFF;
				font-family: poppins;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 29px;
			}	
    }
  }
}
