@import '../../variable.module.scss';
.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 496px;
  margin: auto;
  .actionsContainer {
    display: flex;
    align-items: center;
    gap: 25px;
    button {
      border-radius: 25px;
      font-size: 19px;
      font-weight: 400;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
