@import './../../../variable.module.scss';
.drawelistItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
  gap: 15px;
  font-size: 15px;
  line-height: 23px;
  border-radius: 10px;
  cursor: pointer;

  p {
    font-family: 'Poppins Medium', sans-serif;
  }
  &:not(.drawelistItemActive):hover {
    // background-color: red;
    background: $dark3;
  }
  svg {
    color: #000000;
  }
}

// .drawelistItem:hover {
//     // background-color: #3481EF;

//     border-radius: 4px;
//     p {
//         color: white;
//     }
//     svg {
//         color: white;
//     }
// }

.drawelistItemActive {
  background-color: $primary1;
  color: $white;
  svg {
    color: $white;
  }
}
