@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import './variable.module.scss';
body {
  font-family: 'Poppins', sans-serif !important;
  color: $fontColor;
}

h1 {
  font-size: 33px;
  font-family: 'Poppins Medium', sans-serif;
  margin: 0;
  padding: 0;
}
