@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import './variable.module.scss';
html {
  height: 100%;
}
body {
  font-family: 'Poppins', 'poppins', sans-serif !important;
  color: $fontColor;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: $linkColor;
  cursor: pointer;
}

h1 {
  font-size: 33px;
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 26px;
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 23px;
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 20px;
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

.hrText {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: $dark1;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    // background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: $dark1;

    padding: 0 0.5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    // color: #818078;
    // background-color: #fcfcfa;
  }
}

.defaultButton {
  color: $white !important;
  background-color: $dark1 !important;
}
.defaultOutlinedButton {
  color: $dark1 !important;
  border-color: $dark1 !important;
	background-color: $white !important;
  border: 2px solid #000000 !important;
}
.dangerButton {
  color: $white !important;
  background-color: $danger !important;
  width: 172px;
}

.MuiSelect-root {
  & label.Mui-focused {
    color: #000000;
    font-family: Poppins;
    font-size: 16px !important;
  }
  & .MuiInput-input {
    & placeholder {
      background: black;
      color: red !important;
      opacity: 1; /* Firefox */
    }
  }
  & .MuiOutlinedInput-root {
    & fieldset {
      border: 1px solid #939393;
      border-radius: 5px;
      font-family: Poppins;
      font-size: 16px;
    }
    &:hover fieldset {
      border-color: #939393;
    }
    &.Mui-focused fieldset {
      border: 1px solid #939393;
    }
  }
}

.MuiSelect-root:-ms-input-placeholder {
  color: red;
  opacity: 1;
}
.MuiSelect-root::-ms-input-placeholder {
  color: red;
  opacity: red;
}
.MuiSelect-root::placeholder {
  color: red;
  opacity: 1;
}

.placeholderColor{
	& > label{
		color: #7e7e7e !important;
		line-height: 18px !important;
	}

}
