$primary1: #3981e8;
$primary2: #5d6fd3;

$brandLive: #3981e8;
$brandDraft: #6ba8db;
$brandPending: #204d8d;
$brandClosed: #0952d1;
$barndLost: #001e52;

$influencerLive: #3981e8;
$influencerInvite: #6ba8db;
$influencerClosed: #204d8d;
$influencerDeclined: #0952d1;

$dark1: #000000;
$dark2: #939393;
$dark3: #cccccc;

$fontColor: #000000;
