@import '../../../variable.module.scss';
.addDeliverable {
    color: $dark1;
    font-family: Poppins;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 0px;
}