@import '../../../variable.module.scss';

.mainContainer {
  padding: 20px 75px;
  .memberRow {
    margin-left: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    .memberName {
      flex: auto;
      font-size: 19px;
    }
    .memberAvatar {
      height: 49px;
      width: 49px;
    }
    .svg {
      color: $primary1;
      margin-right: 24px;
      cursor: pointer;
    }
    button {
      font-size: 15px;
      color: #ffffff;
      background: #000000;
      border: none;
      border-radius: 100px;
      padding: 7px 25px;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: end;
    }
    button:focus {
      font-size: 15px;
      display: flex;
      align-items: center;
      color: #ffffff;
      background: #000000;
      border: none;
      border-radius: 100px;
      padding: 7px 25px;
      outline: none;
    }
  }
}

.errorText {
  color: red;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .memberRow {
      > * {
        &:not(:last-child) {
          margin-right: 10px !important;
        }
      }
    }
  }
}
