.mainContainer {
  padding: 40px 100px;
  .memberRow {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    .memberName {
      flex: auto;
      font-size: 19px;
    }
    button {
      font-size: 15px;
      color: #ffffff;
      background: #000000;
      border: none;
      border-radius: 100px;
      padding: 7px 25px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    button:focus {
      font-size: 15px;
      display: flex;
      align-items: center;
      color: #ffffff;
      background: #000000;
      border: none;
      border-radius: 100px;
      padding: 7px 25px;
      outline: none;
    }
  }
}
